@{
    List<BE.Administracion_BE> data = ViewBag.data;
}

<div class="row text-center">
    <h4 class="fw-bold m-0 p-0">LISTADO DE EMPLEADOS </h4>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class='input-group-prepend'>
        <div class='input-group-text'>
            <i class='fa fa-search'></i>
        </div>
        <input type="text" class="form-control text-left" id="txtFiltro" />
    </div>
</div>
<table class="table table-striped display nowrap table table-hover table-sm" style="width:100%" width="100%" id="tableData">
    <thead>
        <tr>
            <th class="text-center">ID EMPLEADO</th>
            <th class="text-center">ID TIPO EMPLEADO</th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">TELÉFONO</th>
            <th class="text-center">DIRECCIÓN</th>
            <th class="text-center">SALARIO</th>
            <th class="text-center">CORREO ELECTRÓNICO</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">FECHA CREACIÓN</th>
            <th class="text-center">CREADO POR</th>
            <th class="text-center">#</th>
        </tr>
    </thead>
    <tbody id="tBodyData">
        @foreach (var row in data)
        {
            <tr>
                <td>@row.ID_EMPLEADO</td>
                <td>@row.ID_TIPO_EMPLEADO</td>
                <td>@row.NOMBRE</td>
                <td>@row.TELEFONO</td>
                <td>@row.DIRECCION</td>
                <td>@row.SALARIO</td>
                <td>@row.CORREO_ELECTRONICO</td>
                <td>@row.ESTADO</td>
                <td>@row.FECHA_CREACION</td>
                <td>@row.CREADO_POR</td>
                <td class="text-center">
                    @if (row.ESTADO != "I")
                    {
                        <i class="fas fa-edit text-primary hvr-grow btn pr-2" title="Actualizar datos" onclick="GetDatosActualizar(@row.ID_EMPLEADO, @row.ID_TIPO_EMPLEADO, '@row.NOMBRE',@row.SALARIO,'@row.TELEFONO','@row.CORREO_ELECTRONICO','@row.DIRECCION')"></i>
                        <i class="fas fa-trash-alt text-danger hvr-grow btn" title="Inactivar Item" onclick="Eliminar(@row.ID_EMPLEADO)"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $("#tableData").dataTable({
            scrollY: (window.innerHeight - 300) + 'px',
            scrollX: true,
            scrollCollapse: true,
            fixedHeader: true,
            ordering: false,
            info: false,
            paginate: false,
            searching: false
        });

        $("#txtFiltro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tBodyData tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
