<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_Styles")
    @RenderSection("styles", required: false)
</head>


<body onload="startclock()">
    <div class="wrapper ">
        <div class="sidebar" data-color="danger" data-background-color="black" data-image="../assets/img/imgs1.jpg">
            <div class="logo text-center">
                @*<a class="simple-text logo-mini">
                        <img src="~/assets/img/favicon.png" alt="GN" style="max-width:32px;" />
                    </a>*@
                <a class="simple-text logo-normal" style="letter-spacing:6px;">
                    RESTAURANTE
                </a>
                <a class="simple-text logo-normal text-danger" style="letter-spacing:4px; font-size:14px; ">
                    Session["nombre_restaurante"]
                </a>
            </div>
            <div class="sidebar-wrapper">
                @*------------MENÚ DE SIDEBAR------------*@
                <ul id="ulMenuSideBar" class="nav">
                </ul>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            @*------------BOTÓN DE MINIMIZADO DE SIDEBAR------------*@
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        @*------------TÍTULO DE SIDEBAR------------*@
                        <a id="navTitle" class="navbar-brand"></a>
                    </div>
                    @*------------BOTÓN DE SIDEBAR EN RESOLUCIONES PEQUEÑAS ------------*@
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        @*------------INPUT DE BÚSQUEDA DE PANTALLAS------------*@
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input id="txtBusquedaPantalla" type="text" value="" class="form-control" placeholder="Buscar pantalla..." autocomplete="off">
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            @*------------MENÚ DESPLEGABLE DE MÓDULO------------*@
                            <li id="liModulos" class="nav-item dropdown d-none">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Módulos">
                                    <i class="material-icons">view_module</i>
                                    <p class="d-lg-none d-md-block">
                                        Módulos
                                    </p>
                                </a>
                                <div id="divModulos" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="NOMBRES Y APELLIDOS">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Usuario
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item disabled text-gray">Session["nombre_usuario"].ToString()</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-none" href="#" id="lblCambiarContrasena" name="lblCambiarContrasena"><i class="material-icons d-lg-none d-md-block">autorenew</i>Cambiar Contraseña</a>
                                    <a class="dropdown-item" href="/Home/CerrarSesion">
                                        <i class="material-icons d-lg-none d-md-block">exit_to_app</i> Salir
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="footer footer-brand fixed-bottom footer-black  d-none d-xl-block" style="padding: 0 0 !important;">
                <div class="copyright float-left text-danger">
                    &copy;
                    Ingeniería de software (IOS) -
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
                <div class="float-right" style="padding-top:15px">
                    <ul>
                        <li>
                            <label class="text-secondary">VERSIÓN:</label>
                        </li>
                        <li>
                            <label class="text-danger">1.0</label>
                        </li>
                        <li>
                            <label class="text-secondary">USUARIO:</label>
                        </li>
                        <li>
                            <label class="text-danger">[Session["usuario"]]</label>
                        </li>
                        <li>
                            <label class="text-secondary">FECHA:</label>
                        </li>
                        <li>
                            <label class="text-danger">@DateTime.Now.ToString("dd/MM/yyyy") </label>
                        </li>
                        <li>
                            <label class="text-danger" id="lblHora"></label>
                        </li>
                    </ul>
                </div>
            </footer>

        </div>
    </div>
    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)
</body>

</html>